# Eclipse files
.classpath
.project
.settings/

# Maven files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDE Specific
*.iml
.idea/
*.log

# OS-specific files
.DS_Store
Thumbs.db
